# API Keys
GOOGLE_API_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
OPENROUTER_API_KEY = "sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=entreprise

# MySQL Configuration
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=bibliotheque
MYSQL_USER=user
MYSQL_PASSWORD=password

# Hugging Face Configuration
HUGGINGFACE_API_TOKEN = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
