# Docker Compose configuration for the application stack
#version: '3.8'

services:
  ######################################################
  #                     FRONTEND WEB                   #
  ######################################################
  web:
    build: ./web
    container_name: web
    restart: always
    ports:
      - "80:80"
    networks:
      - query_network
    depends_on:
      - orchestrator

  ######################################################
  #                   ORCHESTRATOR LLM                 #
  ######################################################
  orchestrator:
    build: ./orchestrateur
    container_name: orchestrator
    restart: always
    environment:
      MCP_GATEWAY_URL: ws://mcp-gateway:9000
    networks:
      - query_network
      - bdd_network
  
  query-management:
    build: ./query-management
    container_name: query-management
    restart: always
    ports:
      - "5000:5000"
    environment:
      ORCHESTRATOR_URL: http://orchestrator:8000
    depends_on:
      - orchestrator
    networks:
      - query_network
  
  ######################################################
  #                     MCP GATEWAY                    #
  ######################################################
 
  # MCP Gateway

  ######################################################
  #                SERVEURS MCP (DB CONNECTORS)        #
  ######################################################
  # Postgres MCP Server
  mcp-postgres:
    image: mcp/postgres
    container_name: mcp-postgres
    restart: always
    depends_on:
      - postgres
    environment:
      POSTGRES_URL: postgres://user:password@postgres:5432/dbname
      MCP_PORT: 7000
    expose:
      - "7000"
    networks:
      - bdd_network

  ######################################################
  #                BASES DE DONNÉES RÉELLES            #
  ######################################################
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bdd_network


########################################################
#                       RÉSEAUX                         #
########################################################
networks:
  query_network:
    driver: bridge
  bdd_network:
    driver: bridge

########################################################
#                      VOLUMES                          #
########################################################
volumes:
  postgres_data:
  mysql_data:
  mongo_data:
